body
{
    background: #efefef;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    align-content: flex-end;
    min-height: 100vh;
}
/*BODY vaikuttaa myös FOOTERIIN*/

/* Välejä*/
.gap50
{
    padding: 50px /*top and bottom*/ 0px; /*sides*/
}
.gap100
{
    padding: 100px 0px;

}
.gapy100
{
    padding-top: 100px;
}
.gapa100
{
    padding-bottom: 100px;
}

.gapa200
{
    padding-bottom: 200px;
}

.gapya
{
    padding-top: 100px;
    padding-bottom: 50px;
}

.gap25
{
    padding-top: 25px;
}

/* NAVBAR alkaa*/
.mynav
{
    background: #efefef!important;
    box-shadow: 0 2px 2px;
}

.navbar-nav
{
    width: 100%;
    padding-right: 224px;
}

.navbar-img /*Logo*/
{
width: 210px;
}

.mynav a /*sivujen nimet*/
{
    margin-right: 100px;
}

.mynav a:hover
{
    color: black;
}

@media only screen and (max-width: 1140px) /*kun ruutu pienenee*/
{
    .navbar-img {
        margin-left: -40px;
    }
    .threepics{
        padding-top: 10px;
    }
    .footer p{
        text-align: center;
    }
    .fa {
        color: black;
        font-size: xx-large!important;
        margin: 10px;
        padding-left: 14%;
        padding-top: 20px;
        text-align: center;
    }
    .some {
        padding-right: 10%;
    }
    .fourpics
    {
        padding-top: 10px;
    }

}

/*NAVBAR loppu*/




/*FOOTER*/

footer
{
position: relative;
width: 100%;
height: auto;
background:#a9a9a9;
padding: 20px 20px;

}

footer .container
{
    width: 100%;
    display: grid;
}

.fcontact
{
    text-align: center;
}

.copyright 
{
padding-top: 0px;
text-align: center;
}

.some
{
    text-align: center;
    margin-left: -15px;
    /* padding-left: 10%; */
}
.fa
{
color: black;
font-size: xx-large!important;
margin: 10px;
padding-top: 20px;
}

.fa:hover {
opacity: 0.7;

}
.fa-facebook:hover 
{
color: 	#4267B2;
}
.fa-instagram:hover
{
color: #833AB4;
}
.fa-pinterest:hover
{
color: 	#E60023;
}

/*FOOTER loppuu*/

/* Inspiraatiosivun omia */



/*Contact omia alkaa */

input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #a9a9a9; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 18px; 
    resize: vertical
}

input[type=text], select {
    background-color: #ffff;
}

input[type=submit] {
    color: black;
    background-color: #ebd5d5;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #a9a9a9;
}

form{
    padding: 30px;
}

iframe{
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    position: relative;
}

/* Contact omia loppuu */


/* Our story */

.card{
   padding-left: 50px;
   margin-left: 30px;
   margin-top: 10px;
   background-color: #efefef;
   border: 1px solid black;
 
   
}
.card-img-top{
    padding: 0px;
    margin-left: -25px;
    margin-bottom: -20px;
    
}
.presentation_cards{
    
    padding-top: 50px;

    
}
