header{
    font-size: large;
    color: black;
    text-align: center;
    margin: 8px;
    font-style: italic;
    position:fixed;
   
}

.navbar-nav > li{
    padding-left:90px;
    padding-right:80px;
    
  }

.navbar-nav{
    position:fixed;
    margin-bottom: 25px;

  }

article{
    margin-top: 70px;
    margin-bottom: 160px;
    
}

article1{
    margin-top: 70px;
    margin-bottom: 160px;
    
}

body{
    background-color: #efefef;
    position: relative;
    z-index: 2;
}

footer{
    color: black;
    background-color: #a9a9a9;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    
}

nav{
    margin: 25px;
   
 
    
}

aside{
    margin: 60px;
    margin-bottom: 130px;

}

h1{
    margin-bottom: 30px;
}

h2{
    margin-bottom: 30px;
}

hr{
    position: fixed;
    width:100%;
}

a:link{
    color: black;
}

a:hover{
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #a9a9a9; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 18px; 
    resize: vertical 
}

input[type=submit] {
    color: black;
    background-color: #ebd5d5;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #a9a9a9;
}

form{
    padding: 30px;
    margin-bottom: 130px;
}

iframe{
    margin: 60px;
    width: auto;
}


/* Inspiration html */
    /* Alku */
    .firstimages {
        width: auto;
        height: auto;
        object-fit: fill;
        
    }
        /* Artikkeli */
    .artikkeli
    {
        padding-bottom: 30px;
        
    } 
    
    .brlarge {
        display: block;
        margin-bottom: 2em;
    }
    
        /* Artikkeli lopetus */
    
        /* Neljä kuvaa */
    /* Neljä kuvaa */

    .imgfluidkuvat
    {
    object-fit: cover;
    }