header{
    font-size: large;
    color: black;
    text-align: center;
    margin: 45px;
    font-style: italic;
}

.navbar-nav > li{
    padding-left:60px;
    padding-right:60px;
  }
  
article{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    
}

body{
    background-color: #efefef;
}

footer{
    color: black;
    background-color: #a9a9a9;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

nav{
    margin: 30px;
    
}

aside{
    margin: 60px;

}

h1{
    margin-bottom: 30px;
}

h2{
    margin-bottom: 30px;
}

hr.new1{
    border-top: 2px solid black;
}

a:link{
    color: black;
}

a:hover{
    text-decoration: none;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #a9a9a9; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 8px; 
    margin-bottom: 18px; 
    resize: vertical 
}

input[type=submit] {
    color: black;
    background-color: #ebd5d5;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #a9a9a9;
}

form{
    padding: 30px;
}

iframe{
    margin: 60px;
    width: auto;
}


